:root {
    --clr-primary: #d50000;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --clr-gray300: #a7b7be;
    --clr-gray400: #6b7e86;
    --clr-gray500: #425a65;

    --radius: 0.2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #E0475B;
}

nav {
    grid-area: header;
    display: flex;
    line-height: 50px;
    justify-content: center;
    background-color: #F8EFEA;
}

nav a {
    margin: 20px;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr .8fr;
    grid-template-areas:
    "header header header"
    "search-container search-container search-container"
    "card-container card-container card-container"
    "footer footer footer";
}

.search-container {
    grid-area: search-container;
    background-image: url(images/search-bar-image.jpg);
    height: 50vh;
    width: 100%;
    object-fit: none;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    position: relative;
    width: 500px;
    height: 20%;
    border: none;
    padding: 10px 25px;
    outline: solid 1px #2e4711;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.search-icon {
    position: absolute;
    color: #2e4711;
    font-size: 1.5rem;
    cursor: pointer;
    right: 275px;
    top: 172px;
}


.card-container {
    font-family: Oxygen, sans-serif;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 2rem;
    justify-content: center;
    grid-area: card-container;
}

.card {
    overflow: hidden;
    box-shadow: 2px, 20px black;
    border-radius: var(--radius);
    background-color: #039d69;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

img {
    height: 12rem;
    width: 100%;
    object-fit: cover;

}

.card-title {
    padding: 1rem;
}

.card-description {
    padding: 0 1rem;
}

.card-button {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid var(--clr-primary);
    background: transparent;
    color: var(--clr-primary);
    border-radius: var(--radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
    transform: scale(1.02);

}

.card-button:hover {
    background: var(--clr-primary);
    color: white;
}

footer {
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 1.2fr 1fr;
        grid-template-areas:
        "header"
        "search-container"
        "card-container"
        "footer";
    }


}

