:root {
    --radius: 0.2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #d7d9cf;
    margin: 10px;
}

header {
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
    grid-area: header;
    display: grid;
    line-height: 30px;
    justify-content: center;
    background-color: #212529;
}

.social-media-list {
    display: flex;
    justify-content: center;
}

.social-media-list li {
    display: inline;
    color: #a01734;
    padding: 20px;
}

body {
    background-color: #212529;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr .8fr;
    grid-template-areas:
    "header header header"
    "search-container search-container search-container"
    "card-container card-container card-container"
    "footer footer footer";
}

.search-container {
    grid-area: search-container;
    background-image: url(images/search-bar-image2.jpg);
    height: 68vh;
    width: 100%;
    object-fit: none;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    grid-area: search-container;
    position: relative;
    font-family: 'Karla', sans-serif;
    width: 500px;
    height: 8vh;
    border: none;
    padding: 10px 25px;
    font-size: 25px;
    outline: solid 1px #2e4711;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}


#search-icon {
    position: absolute;
    color: #2e4711;
    font-size: 1.5rem;
    cursor: pointer;
    top: 238px;
    right: 485px;
}

#search-button {
    position: absolute;
    color: #2e4711;
    opacity: 0;
    font-size: 1.5rem;
    cursor: pointer;
    top: 238px;
    right: 480px;
}


.card-container {
    font-family: Oxygen, sans-serif;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 2rem;
    justify-content: center;
    grid-area: card-container;
}

.card {
    overflow: hidden;
    box-shadow: 2px, 20px black;
    border-radius: var(--radius);
    background-color: #d7d9cf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    color: #3b0002;
    padding: 5px;
}

img {
    height: 12rem;
    width: 100%;
    object-fit: cover;

}

.card-title {
    padding: 1rem;
    font-family: 'Abril Fatface', cursive;
    color:#a01734;
}

.card-description {
    padding: 0 1rem;
    font-family: 'Karla', sans-serif;
}

ol {
    list-style: none;
    padding-left: 5px;
}

.card-button {
    padding: 1rem;
    font-family: 'Karla', sans-serif;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid ;
    background: transparent;
    color: #a01734;
    border-radius: var(--radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
    transform: scale(1.02);

}

.card-button:hover {
    background: #a01734;
    color: #d7d9cf;
}

footer {
    grid-area: footer;
}

@media screen and (max-width: 550px) {
    body {
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 1.2fr 1fr;
        grid-template-areas:
        "header"
        "search-container"
        "card-container"
        "footer";
    }

.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
    background-color: white;
    width: 30;
    height: 30;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal button{
    padding: 10px 30px;
    color: white;
    border: none;
    background-color: #2980b9;
    cursor: pointer;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
  }

.dropdown * {
    box-sizing: border-box;
  }

.select {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #212529 solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
  }

.select-clicked {
    border: 2px #212529 solid;
    box-shadow: 0 0 0.8em #212529;
  }

.select:hover {
background: #f1f1f1;
  }

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #f1f1f1;
    transition: 0.3s;
  }

.caret-rotate {
    transform: rotate(180deg);
  }

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #2e4711;
    border: 1px #480100 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: chartreuse;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
  }

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
  }

.menu li:hover {
    background: #551619;
  }

.active {
    background: #551601;
  }

.menu-open {
    display: block;
    opacity: 1;
  }

  .dropdown-list a:hover {background-color: #ddd}

  .show {display:block;}
  
    .search-container {
        grid-area: search-container;
        background-image: url(images/search-bar-image2.jpg);
        height: 60vh;
        width: 100%;
        object-fit: none;
        background-position: center center;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
.search-container {
    grid-area: search-container;
    background-image: url(images/search-bar-image2.jpg);
    height: 60vh;
    width: 100%;
    object-fit: none;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    grid-area: search-container;
    position: relative;
    width: 350px;
    height: 7vh;
    border: none;
    padding: 10px 25px;
    font-size: 25px;
    outline: solid 1px #2e4711;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

#search-icon {
    position: absolute;
    color: #2e4711;
    font-size: 2rem;
    cursor: pointer;
    top: 253px;
    right: 50px;
}