:root {
    --radius: 0.2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #d7d9cf;
    margin: 10px;
}

header {
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
    grid-area: header;
    display: grid;
    line-height: 30px;
    justify-content: center;
    background-color: #212529;
}

.social-media-list {
    display: flex;
    justify-content: center;
}

.social-media-list li {
    display: inline;
    color: #a01734;
    padding: 20px;
}



body {
    background-color: #212529;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr .8fr;
    grid-template-areas:
    "header header header"
    "search-container search-container search-container"
    "card-container card-container card-container"
    "footer footer footer";
}

.search-container {
    grid-area: search-container;
    background-image: url(../images/search-bar-image2.jpg);
    height: 68vh;
    width: 100%;
    object-fit: none;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    grid-area: search-container;
    position: relative;
    font-family: 'Karla', sans-serif;
    width: 500px;
    height: 8vh;
    border: none;
    padding: 10px 25px;
    font-size: 25px;
    outline: solid 1px #2e4711;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}


#search-icon {
    position: relative;
    color: #2e4711;
    font-size: 1.5rem;
    cursor: pointer;
    right: 35px;
}

#search-button {
    position: absolute;
    color: #2e4711;
    opacity: 0;
    font-size: 1.5rem;
    cursor: pointer;
    top: 238px;
    right: 480px;
}

#search-icon:hover {
    color: green;
}


.card-container {
    font-family: Oxygen, sans-serif;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 2rem;
    justify-content: center;
    grid-area: card-container;
}

.card {
    overflow: hidden;
    box-shadow: 2px, 20px black;
    border-radius: var(--radius);
    background-color: #d7d9cf;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 200ms ease-in;
    color: #3b0002;
    padding: 20px;
    height:fit-content;
    min-height: 550px;
}

img {
    height: 12rem;
    width: 100%;
    object-fit: cover;

}

.card-title {
    padding: 1rem;
    font-family: 'Abril Fatface', cursive;
    color:#a01734;
}

.card-description {
    padding: 0 1rem;
    font-family: 'Karla', sans-serif;
}


ol {
    list-style:none;
    padding-left: 0;
}

ul {
    list-style: circle;
    padding-left: 5px;
}

h3{
    text-align: center;
}



.card-button {
    padding: 1rem;
    font-family: 'Karla', sans-serif;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid ;
    background: transparent;
    color: #a01734;
    border-radius: var(--radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
    transform: scale(1.02);

}

.card-button:hover {
    background: #a01734;
    color: #d7d9cf;
}

footer {
    grid-area: footer;
}

@media screen and (max-width: 550px) {
    body {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 1.2fr 1fr;
        grid-template-areas:
        "header"
        "search-container"
        "card-container"
        "footer";
    }



.dropbtn {
    background-color: #29b957;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #29b957;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.106);
    z-index: 1;
    overflow:auto;
    width: 100%
}

.dropdown-list:after {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.106);
    z-index: 1;
    overflow:auto;
    width: 100%
}

.dropdown-list a {
    color: rgba(0, 0, 0, 0.547);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-list a:hover {background-color: #ddd}

.show {display:block;}
   */
    .search-container {
        grid-area: search-container;
        background-image: url(images/search-bar-image2.jpg);
        height: 60vh;
        width: 100%;
        object-fit: none;
        background-position: center center;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.search-container {
    grid-area: search-container;
    background-attachment: fixed;
    background-image: url(images/search-bar-image2.jpg);
    height: 60vh;
    width: 100%;
    object-fit: none;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    grid-area: search-container;
    position: relative;
    width: 300px;
    height: 7vh;
    border: none;
    padding: 10px 25px;
    font-size: 25px;
    outline: solid 1px #2e4711;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    
}

#search-icon {
    position: relative;
    color: #2e4711;
    font-size: 2rem;
    cursor: pointer;
    right: 40px;
}

.ingredient-search {
    position: relative;
}
}